<div id="place" place-uuid="{{placeUUID}}">
	<div class="container">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card">
				<div class="row brand">
					<img class="unipd-logo small-img" src="../brand/{{brand}}.png">
					{{#if unipdBrand}}
					<img class="unipd-logo small-img" src="../brand/{{unipdBrand}}.png">
					{{/if}}
				</div>
				<div class="row">
					<h5>{{placeName}}</h5>
				</div>
				<div class="row">
					<h6>{{buildingName}}</h6>
				</div>
				<hr>
				<div class="row">
					<div id="session-expired" class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Check-Out già effettuato</h4>
						<p>Hai effettuato da poco il Check-Out in questo luogo, sei sicuro di voler effettuare
							nuovamente questa operazione?</p>
					</div>
				</div>
				<div class="row text-center">
					<button id="manual-checkout" type="button" class="btn btn-primary">Effettua Check-Out</button>
				</div>
				<div class="row">
					<svg id="checkmark" class="checkmark showCheckIn" xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 52 52">
						<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
						<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
					<svg id="closemark" class="closemark showCheckInStopped" height="250pt" viewBox="0 0 329.26933 329"
						width="250pt" xmlns="http://www.w3.org/2000/svg">
						<circle class="closemark__circle" cx="26" cy="26" r="25" fill="none" />
						<path
							d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" />
					</svg>
				</div>
				<div class="row">
					<h3 class="showCheckIn">Check-out Completato</h3>
					<h3 class="showCheckInStopped">Check-out Annullato</h3>
				</div>
				<hr class="showCheckIn">
				<div id="feedback">
					<div class="row">
						<h4 class="showCheckIn">Come valuti lo stato di affollamento del luogo?</h4>
					</div>
					<div class="row semaphore hide">
						<div class="col">
							<div class="showCheckIn">
								<div class="single-semaphore green send-feedback" data-feedback="1"><span>Basso</span></div>
								<!--<button type="button" data-feedback="1"
									class="btn btn-secondary btn-sm send-feedback">Basso</button>-->
							</div>
						</div>
						<div class="col">
							<div class="showCheckIn">
								<div class="single-semaphore orange send-feedback" data-feedback="2"><span>Medio</span></div>
								<!--<button type="button" data-feedback="2"
									class="btn btn-secondary btn-sm send-feedback">Medio</button>-->
							</div>
						</div>
						<div class="col">
							<div class="showCheckIn">
								<div class="single-semaphore red send-feedback" data-feedback="3"><span>Alto</span></div>
								<!--<button type="button" data-feedback="3"
									class="btn btn-secondary btn-sm send-feedback">Alto</button>-->
							</div>
						</div>
					</div>
					<div class="row">
						<p class="clarifications showCheckIn">Ricorda che secondo le norme di contenimento Covid-19 ogni
							luogo può contenere al massimo circa il 50% della sua capienza originaria. Se il luogo è
							mezzo pieno il suo stato di affollamento è alto!</p>
					</div>
				</div>
				<div class="row hideCheckIn">
					<p id="info">Entro 5 secondi il check-out sarà permanente. Premi sul bottone per annullare
						l'operazione.</p>
				</div>
				<div class="row">
					<div id="countdown">
						<div id="countdown-number"></div>
						<svg>
							<circle r="36" cx="40" cy="40"></circle>
						</svg>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<button id="stop-check-out" type="button" class="btn btn-danger">Annulla Check-out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../js/check-out.js"></script>